
@{
    ViewBag.Title = "Order";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bootstrap Table</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <h4>Responsive Table:</h4>
        <div class="table-responsive-sm">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>mã SP</th>
                        <th>Thông tin khách hàng</th>
                        <th>số lượng</th>
                        <th>Color</th>
                        <th>Số tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>MNL1</td>
                        <td>
                            nguyễn văn a
                        </td>
                        <td>1</td>
                        <td>Jbờ lắc</td>
                        <td>5 lốp</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Java</td>
                        <td>
                            Java is a programming language and computing platform...
                        </td>
                        <td>1995</td>
                        <td>James Gosling</td>
                        <td>14.21%</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Java</td>
                        <td>
                            Java is a programming language and computing platform...
                        </td>
                        <td>1995</td>
                        <td>James Gosling</td>
                        <td>14.21%</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Java</td>
                        <td>
                            Java is a programming language and computing platform...
                        </td>
                        <td>1995</td>
                        <td>James Gosling</td>
                        <td>14.21%</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>