
@{
    ViewBag.Title = "Indexteam";
}

<h4 class="mb-4">Team pro vjp </h4>

<div class="card-group">
    <div class="card">
        <img class="card-img-top"
             src="~/Image/addidas.jpg" alt="">
        <div class="card-body">
            <h5 class="card-title">Nguyễn Hoàng Kim Kha</h5>
            <p class="card-text">
               -Leader of team
               - android dev 
            </p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top"  src="~/Image/blueBag.jpg" alt="">
        <div class="card-body">
            <h5 class="card-title">Nghê Nguyễn Quang minh</h5>
            <p class="card-text">
               - pro vjp lklklkasdlgfjiaosdhjgioasfhjgiohaf sjasduifpjfhgozsdgf
                asdl;gjiaosdhdfgioafdhgjfds;af
                sgaklsfhjgiof
            </p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/Image/jeans.jpg" alt="">
        <div class="card-body">
            <h5 class="card-title">Nguyễn Võ Vũ Văn</h5>
            <p class="card-text">
         asglamsfkghabfedjkghj asdopgjasd
                gasdjn'gjasd
                [gjasfghjas
                gask'gjas;gol']'
            </p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>

