<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bootstrap Table</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <h4>All Product :</h4>
        <button class="btn btn-primary" style="
    margin-left:1150px;
    border-radius:4px;
    margin-bottom:10px;
    ">
            ADD
        </button>

        <div class="table-responsive-sm">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>mã SP</th>
                        <th>Thông tin khách hàng</th>
                        <th>số lượng</th>
                        <th>Color</th>
                        <th>Số tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>MNL1</td>
                        <td>
                            nguyễn văn a
                        </td>
                        <td>1</td>
                        <td>Jbờ lắc</td>
                        <td class="btn-group" style="justify-content:space-evenly;">
                            5 lốp
                            <div>
                                <div class="dropdown-container" tabindex="-1">
                                    <div class="three-dots"></div>
                                    <div class="dropdown">
                                        <a href="#"><div>Delete</div></a>
                                        <a href="#"><div>Edit</div></a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Java</td>
                        <td>
                            Java is a programming language and computing platform...
                        </td>
                        <td>1995</td>
                        <td>James Gosling</td>
                        <td class="btn-group">
                            5 lốp
                            <div>
                                <div class="dropdown-container" tabindex="-1">
                                    <div class="three-dots"></div>
                                    <div class="dropdown">
                                        <a href="#"><div>Delete</div></a>
                                        <a href="#"><div>Edit</div></a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Java</td>
                        <td>
                            Java is a programming language and computing platform...
                        </td>
                        <td>1995</td>
                        <td>James Gosling</td>
                        <td class="btn-group">
                            5 lốp
                            <div>
                                <div class="dropdown-container" tabindex="-1">
                                    <div class="three-dots"></div>
                                    <div class="dropdown">
                                        <a href="#"><div>Delete</div></a>
                                        <a href="#"><div>Edit</div></a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Java</td>
                        <td>
                            Java is a programming language and computing platform...
                        </td>
                        <td>1995</td>
                        <td>James Gosling</td>
                        <td class="btn-group">
                            5 lốp
                            <div>
                                <div class="dropdown-container" tabindex="-1">
                                    <div class="three-dots"></div>
                                    <div class="dropdown">
                                        <a href="#"><div>Delete</div></a>
                                        <a href="#"><div>Edit</div></a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <link href="~/Content/3dot.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>