
@{
    ViewBag.Title = "IndexStock";
}

<table class="table">
    <thead class="table-dark">
        <tr>
            <th>No</th>
            <th>Stock</th>
            <th>Color</th>
            <th>So luong</th>
            <th>Mã Sp</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>
                Ghế<img src="~/Image/addidas.jpg" style="
    width:50Px;
    height:50px;
    margin-left:50px;" />
            </td>
            <td>Đỏ</td>
            <td>10</td>
            <td>MNL1</td>
        </tr>
        <tr>
            <td>2</td>
            <td>
                Bàn
                <img src="~/Image/addidas.jpg" style="
    width:50Px;
    height:50px;
    margin-left:50px;" />
            </td>
            <td>Đen</td>
            <td>10</td>
            <td>MNL1</td>
        </tr>
        <tr>
            <td>3</td>
            <td>
                Minh
                <img src="~/Image/addidas.jpg" style="
    width:50Px;
    height:50px;
    margin-left:50px;" />
            </td>
            <td>Đen</td>
            <td>10</td>
            <td>MNL1</td>
        </tr>
        <tr>
            <td>4</td>
            <td>
                Văn
                <img src="~/Image/addidas.jpg" style="
    width:50Px;
    height:50px;
    margin-left:50px;" />
            </td>
            <td>Blue</td>
            <td>10</td>
            <td>MNL1</td>
        </tr>
        <tr>
            <td>5</td>
            <td>
                NGhĩa
                <img src="~/Image/addidas.jpg" style="
    width:50Px;
    height:50px;
    margin-left:50px;" />
            </td>
            <td>Thanh hóa</td>
            <td>10</td>
            <td>MNL1</td>
        </tr>
        <tr>
    </tbody>
</table>